[Unit]
Description=Miden network monitor
Wants=network-online.target

[Install]
WantedBy=multi-user.target

[Service]
Type=exec
EnvironmentFile=/lib/systemd/system/miden-network-monitor.env
ExecStart=/usr/bin/miden-network-monitor
WorkingDirectory=/opt/miden-network-monitor
User=miden-network-monitor
RestartSec=5
Restart=always
