# Runs linting related jobs.

name: lint

on:
  push:
    branches: [main, next]
  pull_request:
    types: [opened, reopened, synchronize]

# Limits workflow concurrency to only the latest commit in the PR.
concurrency:
  group: "${{ github.workflow }} @ ${{ github.event.pull_request.head.label || github.head_ref || github.ref }}"
  cancel-in-progress: true

permissions:
  contents: read

env:
  # Reduce cache usage by removing debug information.
  CARGO_PROFILE_DEV_DEBUG: 0

jobs:
  typos:
    runs-on: ubuntu-24.04
    timeout-minutes: 5
    steps:
      - uses: actions/checkout@v4
      - uses: taiki-e/install-action@v2
        with:
          tool: typos@1.42.0
      - run: make typos-check

  rustfmt:
    name: rustfmt
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@main
      - name: Rustup
        run: |
          rustup update --no-self-update nightly
          rustup +nightly component add rustfmt
      - uses: Swatinem/rust-cache@v2
        with:
          save-if: ${{ github.event_name == 'push' && github.ref == 'refs/heads/next' }}
      - name: Fmt
        run: make format-check

  clippy:
    name: clippy
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@main
      - name: Cleanup large tools for build space
        uses: ./.github/actions/cleanup-runner
      - name: Install RocksDB
        uses: ./.github/actions/install-rocksdb
      - name: Rustup
        run: |
          rustup update --no-self-update
          rustup component add clippy
      - uses: Swatinem/rust-cache@v2
        with:
          save-if: ${{ github.event_name == 'push' && github.ref == 'refs/heads/next' }}
      - name: Clippy
        run: make clippy

  toml:
    runs-on: ubuntu-24.04
    timeout-minutes: 5
    steps:
      - uses: actions/checkout@v4
      - uses: taiki-e/install-action@v2
        with:
          tool: taplo-cli@0.10.0
      - run: make toml-check

  workspace-lints:
    runs-on: ubuntu-24.04
    timeout-minutes: 5
    steps:
      - uses: actions/checkout@v4
      - uses: taiki-e/install-action@v2
        with:
          tool: cargo-workspace-lints@0.1.4
      - run: |
          make workspace-check

  doc:
    name: doc
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@main
      - name: Cleanup large tools for build space
        uses: ./.github/actions/cleanup-runner
      - name: Install RocksDB
        uses: ./.github/actions/install-rocksdb
      - name: Rustup
        run: rustup update --no-self-update
      - uses: Swatinem/rust-cache@v2
        with:
          save-if: ${{ github.event_name == 'push' && github.ref == 'refs/heads/next' }}
      - name: Build docs
        run: cargo doc --no-deps --workspace --all-features --locked

  unused_deps:
    name: check for unused dependencies
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@main
      - name: machete
        uses: bnjbvr/cargo-machete@main

  proto:
    name: proto check
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@main
      - name: Rustup
        run: rustup update --no-self-update
      - name: Install protobuf
        run: sudo apt-get update && sudo apt-get install -y protobuf-compiler
      - uses: Swatinem/rust-cache@v2
        with:
          save-if: ${{ github.event_name == 'push' && github.ref == 'refs/heads/next' }}
      - name: Rebuild protos
        run: make check
      - name: Diff check
        run: git diff --exit-code
