name: Beta toolchain

on:
  schedule:
    - cron: "0 6 * * *" # Everyday at 06:00am UTC

permissions:
  contents: read

jobs:
  test:
    name: test
    runs-on: ubuntu-24.04
    timeout-minutes: 30
    steps:
      - uses: actions/checkout@v4
        with:
          ref: 'next'
      - name: Cleanup large tools for build space
        uses: ./.github/actions/cleanup-runner
      - name: Install RocksDB
        uses: ./.github/actions/install-rocksdb
      - name: Rustup
        run: rustup install beta && rustup default beta
      - uses: taiki-e/install-action@v2
        with:
          tool: nextest@0.9.122
      - name: Run tests
        run: make test
